<h1>Todo list</h1>
<a href="#/todo/new" class="btn btn-info pull-right">Add a task!</a>
<table class="table table-striped" ng-if="model.todos">
    <thead>
        <tr>
            <th ng-repeat="(key, val) in model.todos[0]">{{key | uppercase}}</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in model.todos">
            <td ng-repeat="val in row">{{val}}</td>
            <td>
                <a href="#/todo/{{row.id}}" class="btn btn-warning btn-sm">Edit</a>
                <a href=""
                   ng-bootbox-confirm="Are you sure you want to delete {{row.task}} ?"
                   ng-bootbox-confirm-action="model.deleteTodoById(row.id)" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    </tbody>
</table>